PORT=3000
NODE_ENV=development

# supabase 資料庫
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_NAME=
DB_USER=

# supabase 儲存
DB_URL=
DB_ANON_KEY=

# 信箱驗證
EMAILER_USER=
EMAILER_OAUTH_REFRESH_TOKEN=
JWT_SECRET=
JWT_EXPIRES_DAY=7d


# Google OAuth 第三方登入（passport-google-oauth20）
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK_URL=


# Google Gmail 寄信（nodemailer OAuth2）
GOOGLE_GMAIL_CLIENT_ID=
GOOGLE_GMAIL_CLIENT_SECRET=

# 前端網址重定向
FRONTEND_URL=

# 綠界
MERCHANTID=
HASHKEY=
HASHIV=
HOST=
REDIRECTURL=
# 暫存圖片清理設定
CLEANUP_TEMP_IMAGES_HOURS=24    # 清理多少小時前的暫存圖片
CLEANUP_INTERVAL_HOURS=6        # 每隔多少小時執行一次清理

# OPENAI
# OPENAI_API_KEY=

GEMINI_API_KEY=