PORT=3000
NODE_ENV=development

# supabase 資料庫
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_NAME=
DB_USER=

# supabase 儲存
DB_URL=
DB_ANON_KEY=

# s3 儲存
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# 信箱驗證
EMAILER_USER=
EMAILER_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_DAY=7d

# google 第三方登入
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# 前端網址重定向
FRONTEND_URL=

# 綠界
MERCHANTID=
HASHKEY=
HASHIV=
HOST=
REDIRECTURL=
# 暫存圖片清理設定
CLEANUP_TEMP_IMAGES_HOURS=24    # 清理多少小時前的暫存圖片
CLEANUP_INTERVAL_HOURS=6        # 每隔多少小時執行一次清理

# OPENAI
OPENAI_API_KEY=